#info{
  background-image: url(/assets/images/Background_Intro.png);
  
  display: grid;
  justify-items: center;
}

#heading{
  display: flex;
  flex-direction: column;

  #avatar {
    max-width: 96px;
    max-height: 96px;
  }

  align-items: center;
  justify-content: space-evenly;

  #subtitle {
    color: var(--base-gray-500);
    font: var(--inconsolata-subtitle);
    
    span {
      color: var(--principal-red);
    }
  }

  h1 {
    font: var(--heading-1);
  }

  #text-sm{
    font: var(--text-sm);
    color: var(--base-gray-400);
    margin: 20px 180px 80px;
  }

  #tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 8px;

    font: var(--text-md);
    color:var(--base-gray-500);

    div{
      background-color: var(--base-gray-300);
      border-radius: 40px;
      
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding: 9px 16px;
      margin-bottom: 94px;
    }
  }
}